<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>购物车</title>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/icons.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="title"><span>购物车</span></div>
        <div class="container-fluid">
            <div class="row thead">
                <div class="col-md-4 text-center">商品信息</div>
                <div class="col-md-2 text-center">单价</div>
                <div class="col-md-2 text-center">数量</div>
                <div class="col-md-2 text-center">总金额</div>
                <div class="col-md-2 text-center">操作</div>
            </div>
            <div class="row tr" v-for="item in productList">
                <div class="col-md-4">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" v-bind:checked="item.checked" value="item.productId" v-on:click="selectProduct(item)">
                        </label>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img v-bind:src="item.productImage"></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{item.productName}}</h4>
                            <div class="gift-info clearfix">
                                <p>赠品:</p>
                                <ul>
                                    <li v-for="part in item.parts">{{part.partsName}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="product-price">{{item.productPrice|formatMoney("")}}</div>
                </div>
                <div class="col-md-2 ">
                    <div class="change-box center-block">
                        <a class="minus-sign" href="javascript:;" v-on:click="changeMoney(item,-1)"><i class="fa-minus"></i></a>
                        <input class="quantity-box" readonly v-model="item.productQuantity">
                        <a class="add-sign" href="javascript:;" v-on:click="changeMoney(item,1)"><i class="fa-plus"></i></a>
                    </div>
                    <span class="label label-default quantityLabel center-block" v-bind:class="{'label-success':item.productQuantity>0}">{{item.productQuantity>0?"有货":"无货"}}</span>
                </div>
                <div class="col-md-2 text-center">
                    <div class="total-product-price price">{{item.productPrice*item.productQuantity|formatMoney("元")}}</div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="delete-icon"><a href="javascript:;" data-toggle="modal" data-target="#myModal" v-on:click="delConfirm(item)"><i class="fa-trash"></i></a></div>
                </div>
            </div>
            <div class="toolbox">
                <div class="select-all pull-left">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-bind:checked="checkAll" v-on:click="selectAll"> 全选</label>
                    </div>
                </div>
                <div class="checkout pull-right">
                    <span class="total-price">总计:<span class="price">{{totalMoney|formatMoney("元")}}</span>
                    </span>
                    <a class="btn btn-danger" href="address.html" role="button">结账</a>
                </div>
                <div class="modal" tabindex="-1" role="dialog" id="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">删除确认</h4>
                            </div>
                            <div class="modal-body">
                                <p>确认删除该商品？</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" v-on:click="delProduct">确认</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="cart.js"></script>
</body>

</html>